@import "tailwindcss";


body {
  font-family: 'Lato', sans-serif;
}

@keyframes splashLogo {
  from {
    opacity: 0;
    transform: scale(0.75) translateY(15px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes splashText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

